<p><%= @settlement.name %> - <%= @settlement.category %></p>
<%= link_to 'Редактировать', edit_settlement_path(@settlement) %>
<%= button_to 'Удалить', settlement_path(@settlement), method: :delete %>
<br>
<%= link_to 'Все населенные пункты' , settlements_path %>